@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root {
    --primary-color: #6bb154;


}

html {
    height: 100%;

}









body {


    background-color: #FAF9F9;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: auto;



}

.section {

    padding: 2rem;
    margin: 0 auto;
    width: 600px;
    border: 3px solid #C3DBE9;
    text-align: center;
    background-color: #C3DBE9;
    box-shadow: 15px 13px 23px grey;

    border-radius: 40px;


}

h2 {
    font-size: 2rem;
    font-style: sans-serif;
}

/* Bill Area */

.billArea {
    padding: 1rem;
    margin: auto;
    padding-top: 0.5rem;

}

h3 {
    text-align: left;
    padding-left: 2.5rem;

}


#billAmt {
    display: block;
    width: 80%;
    padding: 0.5rem;
    margin: auto;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-size: 20px;
}
/* 
@media(min-width:40em) {
    .section {

        margin: auto;
    }
} */


button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-size: 18px;

}


/* cash received area */

.cashReceivedArea {
    display: none;
    padding: 1rem;
    margin: auto;
    padding-top: 0.5 rem;

}



#cashReceived {
    display: block;
    width: 80%;
    padding: 0.5rem;
    margin: auto;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-size: 20px;
}

/* return change */

.changeReturn {
    display: none;
    width: 85%;
    padding: 3rem;

}

.changeReturn h3 {
    padding-left: 1rem;
}

/* table */

#output {
    padding-left: 2rem;

}


.noOfNotes {
    padding: 0.5rem;
    width: 20%;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-weight: bold;
    background-color: #FAF9F9;
}

.amount {
    padding: 0.5rem;
    width: 20%;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-weight: bold;
    background-color: #FAF9F9;


}

.noON {
    padding: 0.5rem;
    width: 20%;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-weight: bold;
    background-color: #FAF9F9;

}

.note {
    padding: 0.5rem;
    width: 20%;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-weight: bold;
    background-color: #FAF9F9;


}

footer {
    margin-top: auto;
   

    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold
}



.footer-header{
    margin-top: 3rem;
    
}

.fa {
    margin: 0rem 1.5rem;
    color: black;
    


}


a {
    text-decoration: none;
}