 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet');


:root{
    --primary-color: #6bb154;

}


/* *{
    padding: 0;
    margin: 0;
    display: block;
    box-sizing: border-box;
}  */

/* .cashReceivedArea {
    display: none; */
    



    

   


body{
    
   margin: auto;
   background-color: #FAF9F9;
   /* background-image: url(https://images.unsplash.com/photo-1538356343135-65849f66b4a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80)
   ;
   background-size: cover;
   */
  
   

}

.section{

  padding: 2rem;
  margin: auto;
  max-width: 500px;
  border: 3px solid  #C3DBE9;
  text-align: center;
  background-color: #C3DBE9;
  box-shadow: 15px 13px 23px grey;
 
  border-radius: 40px;
  
}

h2{
    font-size: 2rem;
    font-style: sans-serif ;
}

/* Bill Area */

.billArea{
    padding: 1rem;
    margin: auto;
    padding-top: 0.5rem;
    
}

h3{
    text-align: left;
    padding-left: 2.5rem;
    
}


#billAmt{
    display: block;
    width: 80%;
    padding: 0.5rem;
    margin: auto;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
}


button{
    padding: 0.5rem 1rem;
    margin-top : 1rem;
   cursor: pointer;
   font-weight: bold;
   box-shadow: 15px 13px 23px #aaaa;
   border-radius: 0.5rem;
    border-color: white;

}


/* cash received area */

.cashReceivedArea{
    display: none;
    padding: 1rem;
    margin: auto;
    padding-top: 0.5 rem;

}



#cashReceived{
    display: block;
    width: 80%;
    padding: 0.5rem;
    margin: auto;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
}
/* return change */

.changeReturn{
    display: none;
    width: 85%;
    padding: 3rem;
    
}

.changeReturn h3{
    padding-left: 1rem;
}

/* table */

#output{
    padding-left: 2rem;

}


.noOfNotes{
    padding: 0.5rem;
    width: 20%;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-weight: bold;
    background-color:#FAF9F9;
}

.amount{
    padding: 0.5rem;
    width: 20%;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-weight: bold;
    background-color: #FAF9F9;


}

.noON{
    padding: 0.5rem;
    width: 20%;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-weight: bold;
    background-color: #FAF9F9;

}

.note{
    padding: 0.5rem;
    width: 20%;
    box-shadow: 15px 13px 23px #aaaa;
    border-radius: 0.5rem;
    border-color: white;
    font-weight: bold;
    background-color: #FAF9F9;
    

}